// SPDX-License-Identifier: GPL-2.0-only
/*
 * MicroPhase ANTSDR E310 Rev.C (Zynq-7020 / AD9363)
 *
 * Copyright (C) 2021-2024 MicroPhase Inc.
 * Copyright (C) 2026 Cyfrit <i@cli.tf>
 */

#include "zynq.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

#define AD9361_EXT_BAND_CTL_SHORTHANDS
#include <dt-bindings/iio/adc/adi,ad9361.h>

/ {
	model = "MicroPhase ANTSDR E310 Rev.C (Z7020/AD9363)";
	compatible = "microphase,antsdr-e310-revc", "microphase,antsdr-e310",
		     "xlnx,zynq-7000";

	aliases {
		ethernet0 = &gem0;
		mmc0 = &sdhci0;
		serial0 = &uart1;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x00000000 0x40000000>;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	clocks {
		ad9361_clkin: ad9361-refclk {
			#clock-cells = <0>;
			compatible = "adjustable-clock";
			clock-frequency = <40000000>;
			clock-accuracy = <200000>;
			clock-output-names = "ad9361_ext_refclk";
		};
	};

	usb_phy0: usb-phy@e0002000 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};

	fpga_axi: fpga-axi {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		rx_dma: dma@7c400000 {
			compatible = "adi,axi-dmac-1.00.a";
			reg = <0x7c400000 0x10000>;
			#dma-cells = <1>;
			interrupt-parent = <&intc>;
			interrupts = <0 57 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&clkc 16>;

			adi,channels {
				#address-cells = <1>;
				#size-cells = <0>;

				dma-channel@0 {
					reg = <0>;
					adi,source-bus-width = <32>;
					adi,source-bus-type = <2>;
					adi,destination-bus-width = <64>;
					adi,destination-bus-type = <0>;
				};
			};
		};

		tx_dma: dma@7c420000 {
			compatible = "adi,axi-dmac-1.00.a";
			reg = <0x7c420000 0x10000>;
			#dma-cells = <1>;
			interrupt-parent = <&intc>;
			interrupts = <0 56 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&clkc 16>;

			adi,channels {
				#address-cells = <1>;
				#size-cells = <0>;

				dma-channel@0 {
					reg = <0>;
					adi,source-bus-width = <64>;
					adi,source-bus-type = <0>;
					adi,destination-bus-width = <32>;
					adi,destination-bus-type = <2>;
				};
			};
		};

		cf_ad9361_adc: cf-ad9361-lpc@79020000 {
			compatible = "adi,axi-ad9361-6.00.a";
			reg = <0x79020000 0x6000>;
			dmas = <&rx_dma 0>;
			dma-names = "rx";
			spibus-connected = <&ad936x_phy>;
			adi,axi-decimation-core-available;
		};

		cf_ad9361_dac: cf-ad9361-dds-core-lpc@79024000 {
			compatible = "adi,axi-ad9361-dds-6.00.a";
			reg = <0x79024000 0x1000>;
			clocks = <&ad936x_phy 13>;
			clock-names = "sampl_clk";
			dmas = <&tx_dma 0>;
			dma-names = "tx";
			adi,axi-interpolation-core-available;
			adi,axi-dds-default-scale = <0>;
		};

		axi_tdd: tdd@7c440000 {
			compatible = "adi,axi-tdd-1.00";
			reg = <0x7c440000 0x10000>;
			clocks = <&clkc 15>, <&ad936x_phy 13>;
			clock-names = "s_axi_aclk", "intf_clk";
			label = "e310-tdd";
		};

		e310_vcxo: vcxo-control@43c00000 {
			compatible = "microphase,antsdr-e310-vcxo";
			reg = <0x43c00000 0x1000>;
		};
	};
};

&uart1 {
	status = "okay";
};

&sdhci0 {
	status = "okay";
	xlnx,has-cd = <0>;
	xlnx,has-power = <0>;
	xlnx,has-wp = <0>;
};

&watchdog0 {
	status = "okay";
	reset-on-timeout;
};

&gem0 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_phy>;
	#address-cells = <1>;
	#size-cells = <0>;

	ethernet_phy: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
		reset-gpios = <&gpio0 46 GPIO_ACTIVE_LOW>;
	};
};

&usb0 {
	status = "okay";
	/* The pinned ChipIdea driver drives this legacy resetb GPIO low, then high. */
	xlnx,phy-reset-gpio = <&gpio0 47 GPIO_ACTIVE_LOW>;
	dr_mode = "otg";
	usb-phy = <&usb_phy0>;
};

&qspi {
	status = "okay";
	is-dual = <0>;
	num-cs = <1>;
	spi-nor-locking-disable;

	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "qspi-fsbl-uboot";
				reg = <0x000000 0x100000>;
			};

			partition@100000 {
				label = "qspi-uboot-env";
				reg = <0x100000 0x020000>;
			};

			partition@120000 {
				label = "qspi-nvmfs";
				reg = <0x120000 0x0e0000>;
			};

			partition@200000 {
				label = "qspi-linux";
				reg = <0x200000 0x1e00000>;
			};
		};
	};
};

&adc {
	xlnx,channels {
		#address-cells = <1>;
		#size-cells = <0>;

		channel@0 {
			reg = <0>;
		};
	};
};

&spi0 {
	status = "okay";

	ad936x_phy: ad936x-phy@0 {
		reg = <0>;
		spi-cpha;
		spi-max-frequency = <10000000>;
		#clock-cells = <1>;

		clocks = <&ad9361_clkin>;
		clock-names = "ad9361_ext_refclk";
		clock-output-names = "rx_sampl_clk", "tx_sampl_clk";

		adi,pp-tx-swap-enable;
		adi,pp-rx-swap-enable;
		adi,rx-frame-pulse-mode-enable;
		adi,xo-disable-use-ext-refclk-enable;
		adi,full-port-enable;
		adi,digital-interface-tune-fir-disable;
		adi,digital-interface-tune-skip-mode = <0>;
		adi,tx-fb-clock-delay = <0>;
		adi,tx-data-delay = <9>;
		adi,swap-ports-enable;

		adi,frequency-division-duplex-mode-enable;

		adi,rx-rf-port-input-select = <0>;
		adi,rx-rf-port-input-select-lock-enable;
		adi,tx-rf-port-input-select = <0>;
		adi,tx-rf-port-input-select-lock-enable;
		adi,tx-attenuation-mdB = <10000>;
		adi,tx-lo-powerdown-managed-enable;

		adi,rf-rx-bandwidth-hz = <18000000>;
		adi,rf-tx-bandwidth-hz = <18000000>;
		adi,rx-synthesizer-frequency-hz = /bits/ 64 <2400000000>;
		adi,tx-synthesizer-frequency-hz = /bits/ 64 <2450000000>;
		adi,rx-path-clock-frequencies =
			<983040000 245760000 122880000 61440000 30720000 30720000>;
		adi,tx-path-clock-frequencies =
			<983040000 122880000 122880000 61440000 30720000 30720000>;

		adi,gc-rx1-mode = <2>;
		adi,gc-rx2-mode = <2>;
		adi,gc-adc-ovr-sample-size = <4>;
		adi,gc-adc-small-overload-thresh = <47>;
		adi,gc-adc-large-overload-thresh = <58>;
		adi,gc-lmt-overload-high-thresh = <800>;
		adi,gc-lmt-overload-low-thresh = <704>;
		adi,gc-dec-pow-measurement-duration = <8192>;
		adi,gc-low-power-thresh = <24>;

		adi,mgc-inc-gain-step = <2>;
		adi,mgc-dec-gain-step = <2>;
		adi,mgc-split-table-ctrl-inp-gain-mode = <0>;

		adi,agc-attack-delay-extra-margin-us = <1>;
		adi,agc-outer-thresh-high = <5>;
		adi,agc-outer-thresh-high-dec-steps = <2>;
		adi,agc-inner-thresh-high = <10>;
		adi,agc-inner-thresh-high-dec-steps = <1>;
		adi,agc-inner-thresh-low = <12>;
		adi,agc-inner-thresh-low-inc-steps = <1>;
		adi,agc-outer-thresh-low = <18>;
		adi,agc-outer-thresh-low-inc-steps = <2>;
		adi,agc-adc-small-overload-exceed-counter = <10>;
		adi,agc-adc-large-overload-exceed-counter = <10>;
		adi,agc-adc-large-overload-inc-steps = <2>;
		adi,agc-lmt-overload-large-exceed-counter = <10>;
		adi,agc-lmt-overload-small-exceed-counter = <10>;
		adi,agc-lmt-overload-large-inc-steps = <2>;
		adi,agc-gain-update-interval-us = <1000>;

		adi,fagc-dec-pow-measurement-duration = <64>;
		adi,fagc-lp-thresh-increment-steps = <1>;
		adi,fagc-lp-thresh-increment-time = <5>;
		adi,fagc-energy-lost-stronger-sig-gain-lock-exit-cnt = <8>;
		adi,fagc-final-overrange-count = <3>;
		adi,fagc-gain-index-type-after-exit-rx-mode = <0>;
		adi,fagc-lmt-final-settling-steps = <1>;
		adi,fagc-lock-level = <10>;
		adi,fagc-lock-level-gain-increase-upper-limit = <5>;
		adi,fagc-lock-level-lmt-gain-increase-enable;
		adi,fagc-lpf-final-settling-steps = <1>;
		adi,fagc-optimized-gain-offset = <5>;
		adi,fagc-power-measurement-duration-in-state5 = <64>;
		adi,fagc-rst-gla-engergy-lost-goto-optim-gain-enable;
		adi,fagc-rst-gla-engergy-lost-sig-thresh-below-ll = <10>;
		adi,fagc-rst-gla-engergy-lost-sig-thresh-exceeded-enable;
		adi,fagc-rst-gla-if-en-agc-pulled-high-mode = <0>;
		adi,fagc-rst-gla-large-adc-overload-enable;
		adi,fagc-rst-gla-large-lmt-overload-enable;
		adi,fagc-rst-gla-stronger-sig-thresh-above-ll = <10>;
		adi,fagc-rst-gla-stronger-sig-thresh-exceeded-enable;
		adi,fagc-state-wait-time-ns = <260>;
		adi,fagc-use-last-lock-level-for-set-gain-enable;

		adi,rssi-restart-mode = <3>;
		adi,rssi-delay = <1>;
		adi,rssi-wait = <1>;
		adi,rssi-duration = <1000>;
		adi,ctrl-outs-index = <0>;
		adi,ctrl-outs-enable-mask = <0xff>;

		adi,temp-sense-measurement-interval-ms = <1000>;
		adi,temp-sense-offset-signed = <0xce>;
		adi,temp-sense-periodic-measurement-enable;
		adi,aux-dac-manual-mode-enable;
		adi,aux-dac1-default-value-mV = <0>;
		adi,aux-dac1-rx-delay-us = <0>;
		adi,aux-dac1-tx-delay-us = <0>;
		adi,aux-dac2-default-value-mV = <0>;
		adi,aux-dac2-rx-delay-us = <0>;
		adi,aux-dac2-tx-delay-us = <0>;

		en_agc-gpios = <&gpio0 66 GPIO_ACTIVE_HIGH>;
		/* ADI's driver uses logical 0/1 as the physical RESETB levels. */
		reset-gpios = <&gpio0 67 GPIO_ACTIVE_HIGH>;
		adi,band-ctl-0-gpio = <&gpio0 86 GPIO_ACTIVE_HIGH>;
		adi,band-ctl-1-gpio = <&gpio0 87 GPIO_ACTIVE_HIGH>;
		adi,band-ctl-2-gpio = <&gpio0 88 GPIO_ACTIVE_HIGH>;
		adi,band-ctl-3-gpio = <&gpio0 89 GPIO_ACTIVE_HIGH>;
		adi,band-ctl-4-gpio = <&gpio0 90 GPIO_ACTIVE_HIGH>;
		adi,band-ctl-5-gpio = <&gpio0 91 GPIO_ACTIVE_HIGH>;
		adi,band-ctl-6-gpio = <&gpio0 92 GPIO_ACTIVE_HIGH>;
		adi,band-ctl-7-gpio = <&gpio0 93 GPIO_ACTIVE_HIGH>;

		ad9361_rx_port_a: ad9361-rx-port-a {
			adi,rx-rf-port-input-select = <0>;
		};

		ad9361_rx_port_b: ad9361-rx-port-b {
			adi,rx-rf-port-input-select = <1>;
		};

		ad9361_tx_port_a: ad9361-tx-port-a {
			adi,tx-rf-port-input-select = <0>;
		};

		ad9361_tx_port_b: ad9361-tx-port-b {
			adi,tx-rf-port-input-select = <1>;
		};

		rx-low-band {
			adi,lo-freq-min = /bits/ 64 <0>;
			adi,lo-freq-max = /bits/ 64 <3000000000>;
			adi,gpio-settings = <L H _ _ L H _ _>;
			adi,band-ctl-post = <&ad9361_rx_port_b 0>;
		};

		rx-high-band {
			adi,lo-freq-min = /bits/ 64 <3000000000>;
			adi,lo-freq-max = /bits/ 64 <6000000000>;
			adi,gpio-settings = <H L _ _ H L _ _>;
			adi,band-ctl-post = <&ad9361_rx_port_a 0>;
		};

		tx-low-band {
			adi,lo-freq-min = /bits/ 64 <0>;
			adi,lo-freq-max = /bits/ 64 <3000000000>;
			adi,gpio-settings = <_ _ L H _ _ L H>;
			adi,band-ctl-post = <&ad9361_tx_port_b 0>;
		};

		tx-high-band {
			adi,lo-freq-min = /bits/ 64 <3000000000>;
			adi,lo-freq-max = /bits/ 64 <6000000000>;
			adi,gpio-settings = <_ _ H L _ _ H L>;
			adi,band-ctl-post = <&ad9361_tx_port_a 0>;
		};
	};
};
